article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

body {
  background: plum;
  font-family: 'Source Code Pro', monospace;
  font-size: 20px;
  scroll-behavior: smooth; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  position: relative; }

.custom {
  cursor: url(../assets/cursor.png), auto; }

h1 {
  max-width: 800px;
  margin: 100px 0 0 0;
  font-family: 'Emblema One', cursive;
  font-size: 120px;
  color: mediumslateblue;
  line-height: 100px;
  text-align: center;
  text-shadow: 7px 7px 0px hotpink; }

p {
  margin-bottom: 50px;
  margin-top: 50px;
  color: lavender;
  text-align: center; }

.warning {
  opacity: 0;
  padding: 0;
  margin: 0;
  font-size: 15px;
  color: mediumslateblue; }

.opacity {
  opacity: 1; }

.form {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

input.question {
  background: lavender;
  border: none;
  width: 500px;
  text-align: center;
  color: hotpink;
  border-radius: 0;
  -webkit-appearance: none; }

input.question:active,
input.question:focus {
  border: 2px solid hotpink; }

.ask {
  background: hotpink;
  color: plum;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 50px;
  font-weight: bold;
  font-size: 40px;
  border: none;
  padding: 0px; }

.ask:active,
.ask:focus,
.ask:hover {
  background: mediumslateblue; }

.credit p {
  font-size: 12px;
  color: mediumslateblue;
  margin: 0 auto;
  position: absolute;
  bottom: 10px;
  right: 20px; }

.result-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  background: hotpink; }
  .result-container .answer-and-button {
    width: 40%;
    padding: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .result-container .answer-and-button p {
      text-align: center;
      font-size: 25px;
      color: mediumslateblue; }
    .result-container .answer-and-button h2 {
      font-family: 'Emblema One', cursive;
      font-size: 50px;
      color: lavender;
      text-align: center; }
    .result-container .answer-and-button .try-again {
      margin: 0 auto;
      margin-top: 30px;
      background: mediumslateblue;
      border: none;
      color: lavender;
      font-size: 18px;
      padding: 10px; }
    .result-container .answer-and-button .try-again:active,
    .result-container .answer-and-button .try-again:focus,
    .result-container .answer-and-button .try-again:hover {
      background: plum; }

.image {
  width: calc(60% - 50px);
  margin-right: 50px; }
  .image img {
    display: block;
    max-width: 700px;
    width: 100%; }

.shake-top {
  -webkit-animation: shake-top 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake-top 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both; }

/* ----------------------------------------------
 * Generated by Animista on 2019-5-14 23:21:40
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@-webkit-keyframes shake-top {
  0%, 100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0; }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg); }
  20%, 40%, 60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg); }
  30%, 50%, 70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg); }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg); }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg); } }
@keyframes shake-top {
  0%, 100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0; }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg); }
  20%, 40%, 60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg); }
  30%, 50%, 70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg); }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg); }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg); } }

@media (max-width: 750px) {
  h1 {
    font-size: 80px;
    line-height: 70px; }
  input.question {
    width: 400px; }
  header p {
    margin-bottom: 20px;
    margin-top: 50px;
    color: lavender; } }

@media (max-width: 550px) {
  h1 {
    font-size: 50px;
    line-height: 45px;
    text-shadow: 3px 3px 0px hotpink; }
  p {
    font-size: 18px; }
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .form input.question {
      padding: 10px;
      width: 300px; }
    .form .ask {
      margin-left: 0;
      margin-top: 50px; }
  .result-container {
    padding-bottom: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
    .result-container .image {
      width: 100%;
      max-width: 300px;
      margin-left: 80px; }
    .result-container .answer-and-button {
      width: 100%; }
    .result-container .answer-and-button p {
      margin: 0;
      font-size: 18px; }
    .result-container .answer-and-button .try-again {
      margin-top: 20px;
      margin-bottom: 40px; }
    .result-container .answer-and-button h2 {
      font-size: 30px; } }
